{{ if .IsHome }}
<title>{{ if .IsHome }}Yongseok Jo – Computational Astrophysicist | Galaxy Formation & Machine Learning{{ else }}{{ .Title }} | Yongseok Jo{{ end }}</title>

<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}Yongseok Jo is a computational astrophysicist researching nuclear star clusters, galaxy formation, and machine learning models for cosmological simulations.{{ end }}">
<meta name="keywords" content="computational astrophysicist, nuclear star cluster simulations, machine learning cosmology, galaxy formation, astrophysics research">
<meta property="og:title" content="{{ .Title }} | Yongseok Jo">
<meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}Computational astrophysicist researching nuclear star clusters and galaxy formation.{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<!---meta property="og:image" content="https://yongseokjo.com/images/preview.jpg"--->


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Yongseok Jo",
  "url": "https://yongseokjo.com",
  "image": "https://yongseokjo.com/images/me.JPG",
  "affiliation": {
    "@type": "Organization",
    "name": "SkAI institute",
  },
  "jobTitle": "Computational Astrophysicist",
  "sameAs": [
    "{{ .Site.Params.links.scholar }}"",
    "{{ .Site.Params.links.github }}",
    "{{ .Site.Params.links.orcid }}",
    "{{ .Site.Params.links.linkedin }}"
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Yongseok Jo",
  "url": "https://yongseokjo.com",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://yongseokjo.com/?s={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

{{ end }}
